<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <distributable/>
    <servlet>
        <servlet-name>HeaderPage</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.HeaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportSubscriptionDailyServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.ReportSubscriptionDailyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportSubscriptionSummaryServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.SummaryDailyReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportSummarizeServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.ReportSummarizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pushMessageSmsServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.pushMessageSmsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriptionSummaryMonthlyReportServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.SummaryMonthlyReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportSmsDownloadServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.ReportSmsDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageHistoryServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.MessageHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportSummarizeCdrServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.ReportSummarizeCdrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceListServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.ServiceListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockedList</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.BlockedList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberViewServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.MemberViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkListServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.LinkListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageHistoryReportServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.MessageHistoryReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockedListMultipartServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.BlockedListAddMultipartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockedListFilterMultipartServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.BlockedListFilterMultipartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MigrateSubServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.MigrateSubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThirdPartyListServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.ThirdPartyListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NumberingPlanAddMultipartServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.NumberingPlanAddMultipartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmsTextListServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.SmsTextListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DtacSubscriberSyncInterface</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.DtacSubscriberSyncInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DtacSdpSubscriberSyncInterface</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.DtacSdpSubscriberSyncInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmsWapListServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.SmsWapListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmsPictureListServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.SmsPictureListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmsRingtoneListServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.SmsRingtoneListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MmsListServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.MmsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HybridLinkServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.HybridLinkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogEventOnlineServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.LogEventOnlineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogEventReportServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.LogEventReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageMmsDetail</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.MessageMmsDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriberViewDetailReportServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.SubscriberViewDetailReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceContentMapServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.ServiceContentMapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessagePreview</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.MessagePreview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriptionServicesInterface</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.SubscriptionServicesInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PushMessageSmsWithCsvServlet</servlet-name>
        <servlet-class>smsgateway.webadmin.servlet.PushMessageSmsWithCsvServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HeaderPage</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/member_manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportSubscriptionDailyServlet</servlet-name>
        <url-pattern>/ReportSubscriptionDailyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportSummarizeServlet</servlet-name>
        <url-pattern>/ReportSummarizeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pushMessageSmsServlet</servlet-name>
        <url-pattern>/pushMessageSmsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportSubscriptionSummaryServlet</servlet-name>
        <url-pattern>/SubscriptionSummaryDailyReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriptionSummaryMonthlyReportServlet</servlet-name>
        <url-pattern>/SubscriptionSummaryMonthlyReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportSmsDownloadServlet</servlet-name>
        <url-pattern>/reportSmsDownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageHistoryServlet</servlet-name>
        <url-pattern>/MessageHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportSummarizeCdrServlet</servlet-name>
        <url-pattern>/ReportSummarizeCdrServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceListServlet</servlet-name>
        <url-pattern>/ServiceListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockedList</servlet-name>
        <url-pattern>/BlockedList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberViewServlet</servlet-name>
        <url-pattern>/MemberViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkListServlet</servlet-name>
        <url-pattern>/LinkListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageHistoryReportServlet</servlet-name>
        <url-pattern>/MessageHistoryReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockedListMultipartServlet</servlet-name>
        <url-pattern>/BlockedList_Multipart/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockedListFilterMultipartServlet</servlet-name>
        <url-pattern>/BlockedList_Multipart/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MigrateSubServlet</servlet-name>
        <url-pattern>/migrate/servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThirdPartyListServlet</servlet-name>
        <url-pattern>/ThirdPartyListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NumberingPlanAddMultipartServlet</servlet-name>
        <url-pattern>/numbering_plan/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmsTextListServlet</servlet-name>
        <url-pattern>/SmsTextListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DtacSubscriberSyncInterface</servlet-name>
        <url-pattern>/dtac/syncsub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DtacSdpSubscriberSyncInterface</servlet-name>
        <url-pattern>/dtacsdp/syncsub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmsWapListServlet</servlet-name>
        <url-pattern>/SmsWapListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmsRingtoneListServlet</servlet-name>
        <url-pattern>/SmsRingtoneListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmsPictureListServlet</servlet-name>
        <url-pattern>/SmsPictureListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MmsListServlet</servlet-name>
        <url-pattern>/MmsListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HybridLinkServlet</servlet-name>
        <url-pattern>/HybridLinkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogEventOnlineServlet</servlet-name>
        <url-pattern>/LogEventOnlineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogEventReportServlet</servlet-name>
        <url-pattern>/LogEventReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageMmsDetail</servlet-name>
        <url-pattern>/MessageMmsDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriberViewDetailReportServlet</servlet-name>
        <url-pattern>/SubscriberViewDetailReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceContentMapServlet</servlet-name>
        <url-pattern>/ServiceContentMapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagePreview</servlet-name>
        <url-pattern>/MessagePreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriptionServicesInterface</servlet-name>
        <url-pattern>/SubscriptionServicesInterface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PushMessageSmsWithCsvServlet</servlet-name>
        <url-pattern>/PushMessageSmsWithCsvServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Web Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>Index page</web-resource-name>
            <description/>
            <url-pattern>/index.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>superuser</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ReadOnly</display-name>
        <web-resource-collection>
            <web-resource-name>Header of page</web-resource-name>
            <description/>
            <url-pattern>/header</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user</role-name>
            <role-name>admin</role-name>
            <role-name>superuser</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>For general user</description>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <description>For system administrator - read/write permissions</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>For super-user permission such as manager</description>
        <role-name>superuser</role-name>
    </security-role>
</web-app>
